@using Microsoft.AspNetCore.Identity
@using MIS.Data
@using MIS.Areas.Identity.Data 
@using Microsoft.EntityFrameworkCore
@inject MISDbContext _context
@inject SignInManager<MISUser> SignInManager
@inject UserManager<MISUser> UserManager

        @if (SignInManager.IsSignedIn(User)){
        <div class="dropdown">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                ข้อมูลทางธุรกิจ
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/product">product</a>
                <a class="dropdown-item" href="/productgroup">product group</a>
               

            </div>
        </div>
        }